/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

.header.container {
	width: 1170px;
	padding: 0;
}
.navbar-inner {
	background-color: #DCE3E8;
}

.navbar-brand {
	padding-left: 0;
}

body {
 	margin: 0px;
  	padding: 0px;
  	background-color: #E1E8EE;
 }
header {
    text-align: justify;
    letter-spacing: 1px;
    height: 8em;
    padding: 2em 10%;
    background: #2c3e50;
    color: #fff;
}
header h1 {
	display: inline-block;
	font-size: 3em;
}

header h1 a {
	text-decoration: none;
}

header h1 a:active, :focus { outline: none; -moz-outline-style: none; }

header nav {
    display: inline-block;
}

header::after {
    content: '';
    display: inline-block;
    width: 100%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li {
    display: inline;
    margin-left: 5px;
    margin-right: 5px;
}

li a {
	text-decoration: none;
}

.content-info {
	padding-left: 0;
}

.container {
	margin-left: auto;
	margin-right: auto;
}

.actual_content {
	padding-left: 50px;
}

.navbar-brand a {
	color: black;
	font-size: 18px;
}

.panel.body {
	padding-left: 20px;
}

.panel.footer {
	padding-left: 20px;
}

.simple_form.new_comment {
	margin-left : auto;
	margin-right: auto;
}
.btn {
	font-size: 10px;
}
.btn-default {
	background-color: #147EE8;
}
